html, body{
    background-color: #1b1b11;
}

.App{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    font-family: Lato, sans-serif;
}

.freecodecamp-logo-contenedor{
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.freecodecamp-logo{
    height: 100px;
}